{% extends "base.html" %}
{% load static %}

{% block "title" %}
<title>Login/Register || Sellshop</title>
{% endblock %}

{% block "content" %}
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Login/Register</h2>
                    <ul class="text-left">
                        <li><a href="{% url 'home' %}">Home </a></li>
                        <li><span> // </span>Login/Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-title-end -->

<!-- login content section start -->
<section class="pages login-page section-padding">
    <div class="container">
        <div class="row">
            <!-- Login Form -->
            <div class="col-sm-6">
                <div class="main-input padding60">
                    <div class="log-title">
                        <h3><strong>Registered Customers</strong></h3>
                    </div>
                    <div class="login-text">
                        <div class="custom-input">
                            <p>If you have an account with us, please log in!</p>
                            <form method="post" action="">
                                {% csrf_token %}
                                {% include "messages.html" %}
                                {{ login_form.non_field_errors }}
                                <div>
                                    {{ login_form.email.errors }}
                                    {{ login_form.email }}
                                    
                                </div>
                                <div>
                                    {{ login_form.password.errors }}
                                    {{ login_form.password }}
                                    
                                </div>
                                <div class="submit-text">
                                    <button type="submit" name="login_submit">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Registration Form -->
            <div class="col-sm-6">
                <div class="main-input padding60 new-customer">
                    <div class="log-title">
                        <h3><strong>New Customers</strong></h3>
                    </div>
                    <div class="custom-input">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ register_form.non_field_errors }}
                            <div>
                                {{ register_form.username.errors }}
                                {{ register_form.username }}
                                
                            </div>
                            <div>
                                {{ register_form.email.errors }}
                                {{ register_form.email }}
                                
                            </div>
                            <div>
                                {{ register_form.phone_number.errors }}
                                {{ register_form.phone_number }}
                                
                            </div>
                            <div>
                                {{ register_form.password.errors }}
                                {{ register_form.password }}
                                
                            </div>
                            <div>
                                {{ register_form.confirim_password.errors }}
                                {{ register_form.confirim_password }}
                                
                            </div>
                            <div class="submit-text coupon">
                                <button type="submit" name="register_submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login content section end -->
{% endblock %}
